<p id="notice"><%= notice %></p>


<h1>Mostrando Sensores para la Estación "<%= @concentrador.nombre %>"</h1>
<div id="tabla3">
<table>
  <thead>
    <tr>
      <th class="th">Concentrador</th>
      <th class="th">Nombre</th>
      <th class="th">Descripcion</th>
      <th class="th">Estado</th>
      <th class="th">Parametro</th>
      <th class="th">Valor</th>
      <th class="th">Uds</th>
    </tr>
  </thead>

  <tbody>
    <% @concentrador.sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.concentrador.nombre %></td>
        <td><%= sensor.nombre %></td>
        <td><%= sensor.descripcion %></td>
        <td><%= sensor.estado %></td>
        <td><%= sensor.parametro %></td>
        <td><%= sensor.valor %></td>
        <td><%= sensor.uds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', concentradors_path %>