<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @concentrador.nombre %>
</p>

<h1>Listing sensors</h1>

<table>
  <thead>
    <tr>
      <th>Concentrador</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Parametro</th>
      <th>Valor</th>
      <th>Uds</th>
    </tr>
  </thead>

  <tbody>
    <% @concentrador.sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.concentrador.nombre %></td>
        <td><%= sensor.nombre %></td>
        <td><%= sensor.descripcion %></td>
        <td><%= sensor.estado %></td>
        <td><%= sensor.parametro %></td>
        <td><%= sensor.valor %></td>
        <td><%= sensor.uds %></td>
      </tr>
    <% end %>
  </tbody>
</table>