<p id="notice"><%= notice %></p>


<h1>Mostrando Medidas para el sensor "<%= @sensor.nombre %>"</h1>
<div id="tabla4">
<table>
  <thead>
    <tr>
      <th class="th">Fecha</th>
      <th class="th">Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @sensor.medidas.each do |medida| %>
      <tr>
        <td><%= medida.fecha %></td>
        <td><%= medida.valor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', sensors_path %>